@font-face {
  font-family: 'XWXKT';
  src: url("./xwxkt.ttf");
}
@font-face {
  font-family: 'PZH';
  src: url("./pzh.ttf");
}
@font-face {
  font-family: 'ZJJ';
  src: url("./zjj.ttf");
}
@font-face {
  font-family: 'SMT';
  src: url("./smt.ttf");
}
